:host {
  display: contents;
}

.mat-typography {

}

/*
.default-layout {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-attachment: scroll;
  height: 100% !important;
  bottom: 0 !important;
  background-image: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80") !important;

}
*/
