<h1 mat-dialog-title>Şifre Güncelle</h1>
<div mat-dialog-content class="mx-auto text-center">
  <form class=" form mx-auto" [formGroup]="form">
    <mat-form-field class="my-2">
      <mat-label>Eski Şifre</mat-label>
      <input type="password" matInput formControlName="oldPassword">
    </mat-form-field>
    <mat-form-field class="my-2">
      <mat-label>Yeni Şifre</mat-label>
      <input type="password" matInput formControlName="newPassword">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button style="margin-left: auto" mat-flat-button color="warn" [mat-dialog-close]>İptal</button>
  <button [disabled]="form.invalid" mat-flat-button color="primary" (click)="changePassword()" [mat-dialog-close]="form"
          cdkFocusInitial>Güncelle
  </button>
</div>
